Document of Integration Line OA - ServiceDesk Plus/JSON-n8n-workflow/SDP Service Technician.json
{
  "name": "SDP Service Technician",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e31f4057-89dc-452e-ab50-ddd9fafe861f",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1472,
        4592
      ],
      "id": "a460804d-1a28-40a2-9411-6a693fca5f51",
      "name": "Webhook_LINE_In1",
      "webhookId": "e31f4057-89dc-452e-ab50-ddd9fafe861f"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseKey": "ok"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1248,
        4592
      ],
      "id": "3c562009-fd63-4d64-93ed-eed6e6ee1489",
      "name": "Respond_200_OK"
    },
    {
      "parameters": {
        "jsCode": "const raw = typeof $json.body === 'string' ? JSON.parse($json.body) : ($json.body ?? $json);\nconst event = raw.events?.[0] ?? {};\n\nreturn [{\n  json: {\n    eventType: event.type ?? '',\n    messageType: event.message?.type ?? '',\n    lineUserId: event.source?.userId ?? '',\n    replyToken: event.replyToken ?? '',\n    text: (event.message?.text ?? '').trim(),\n    rawEvent: event\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        4592
      ],
      "id": "6c1c1a62-349e-4102-849a-1e7a993df546",
      "name": "Code_Parse_Line_Event"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a6537788-4783-4e60-9932-4b8871b8080d",
              "leftValue": "={{ ($('Code_Parse_Line_Event').item.json.eventType === 'message' && $('Code_Parse_Line_Event').item.json.messageType === 'text') }}",
              "rightValue": "follow",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        4592
      ],
      "id": "feba7172-7470-495b-a2c2-91c0d3d26713",
      "name": "IF_Supported_Event"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "472DKupY65fiiSq7",
          "mode": "list",
          "cachedResultName": "line_session_state",
          "cachedResultUrl": "/projects/hmeYCYcySuscpLCH/datatables/472DKupY65fiiSq7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "line_user_id",
              "keyValue": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "line_user_id": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}",
            "state": "=REGISTER_WAIT_IDENTIFIER",
            "step_started_at": "={{ $now }}",
            "expires_at": "={{ $now.plus({ minutes: 15 }) }}",
            "updated_at": "={{ $now }}",
            "temp_value": "\"\""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "line_user_id",
              "displayName": "line_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "temp_value",
              "displayName": "temp_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step_started_at",
              "displayName": "step_started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        160,
        4496
      ],
      "id": "585f88e8-2e29-4336-ac77-e3ac4c0f3723",
      "name": "DT_Upsert_Register_Session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"คุณลงทะเบียนแล้ว\\nพิมพ์ \\\"งานของฉัน\\\" เพื่อเริ่มใช้งาน\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        5008
      ],
      "id": "6beb3697-b309-46aa-839f-f8d97825e38b",
      "name": "HTTP_Reply_Already_Registered",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://win-meserv.ppbk.co.th:443/api/v3/technicians",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authtoken",
              "value": "A0DA14FD-7CCC-4D76-B133-BBAD598222EC"
            },
            {
              "name": "Accept",
              "value": "application/vnd.manageengine.sdp.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_data",
              "value": "={{\nJSON.stringify({\n  list_info: {\n    row_count: 50,\n    start_index: 1,\n    get_total_count: true,\n    search_criteria: [\n      {\n        field: 'employee_id',\n        value: $json.employeeIdInput,\n        condition: 'is'\n      }\n    ]\n  }\n})\n}}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        3920
      ],
      "id": "8249b7a3-f7d5-4870-8065-806b005d19b9",
      "name": "HTTP_Search_Technician_SDP"
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\n\n// ดึงรายการ technicians จาก response\nconst technicians =\n  body.technicians ||\n  body.response?.technicians ||\n  body.message_response?.technicians ||\n  [];\n\n// ข้อมูลที่ผู้ใช้ส่งมา\nconst source = $('Code_Normalize_Identifier').item.json;\nconst employeeIdInput = String(source.employeeIdInput ?? '').trim();\nconst technicianNameInput = String(source.technicianNameInput ?? '').trim();\n\nconst normalize = (s) =>\n  String(s ?? '')\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, ' ');\n\n// normalize input\nconst normalizedInputName = normalize(technicianNameInput);\n\n// กรองเฉพาะคนที่ employee_id ตรง\nconst employeeMatches = technicians.filter((t) => {\n  const empId = String(t.employee_id ?? '').trim();\n  return empId === employeeIdInput;\n});\n\n// กรองต่อด้วยชื่อ\nconst exactMatches = employeeMatches.filter((t) => {\n  const name1 = normalize(t.name);\n  const name2 = normalize(t.display_name);\n  return name1 === normalizedInputName || name2 === normalizedInputName;\n});\n\nlet matchStatus = 'not_found';\nlet tech = null;\n\nif (exactMatches.length === 1) {\n  matchStatus = 'matched';\n  const t = exactMatches[0];\n\n  tech = {\n    id: t.id ?? t.technician_id ?? '',\n    name: t.name ?? t.display_name ?? '',\n    email: t.email_id ?? t.email ?? '',\n    employee_id: t.employee_id ?? '',\n    technician_code: t.technician_code ?? '',\n    is_active: t.is_active ?? true\n  };\n} else if (exactMatches.length > 1) {\n  matchStatus = 'ambiguous';\n} else {\n  matchStatus = 'not_found';\n}\n\nreturn [{\n  json: {\n    ...source,\n    totalTechniciansReturned: technicians.length,\n    employeeMatchesCount: employeeMatches.length,\n    exactMatchesCount: exactMatches.length,\n    matchStatus,\n    foundTechnician: matchStatus === 'matched',\n    technician: tech\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        3920
      ],
      "id": "61b4eada-ec6c-4f27-8eda-abe7869d52ed",
      "name": "Code_Normalize_SDP_Result"
    },
    {
      "parameters": {
        "jsCode": "const text = ($('Code_Parse_Line_Event').item.json.text ?? '').trim();\n\n// แยกด้วย comma ตัวแรก\nconst parts = text.split(',');\n\n// helper\nconst clean = (s) => (s ?? '').trim();\nconst normalizeName = (s) =>\n  clean(s)\n    .toLowerCase()\n    .replace(/\\s+/g, ' '); // ลดช่องว่างหลายตัวให้เหลือ 1\n\nlet employeeIdInput = '';\nlet technicianNameInput = '';\nlet inputValid = false;\nlet inputError = '';\n\nif (parts.length < 2) {\n  inputError = 'กรุณาส่งข้อมูลในรูปแบบ employee id,ชื่อ';\n} else {\n  employeeIdInput = clean(parts[0]);\n\n  // กรณีชื่อมี comma เกินมา ให้รวมกลับ\n  technicianNameInput = clean(parts.slice(1).join(','));\n\n  if (!employeeIdInput) {\n    inputError = 'ไม่พบ employee id';\n  } else if (!/^\\d+$/.test(employeeIdInput)) {\n    inputError = 'employee id ต้องเป็นตัวเลขเท่านั้น';\n  } else if (!technicianNameInput) {\n    inputError = 'ไม่พบชื่อ technician';\n  } else {\n    inputValid = true;\n  }\n}\n\nreturn [{\n  json: {\n    ...$('Code_Parse_Line_Event').item.json,\n    originalInput: text,\n    employeeIdInput,\n    technicianNameInput,\n    normalizedTechnicianNameInput: normalizeName(technicianNameInput),\n    inputValid,\n    inputError\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        4112
      ],
      "id": "d4b537df-1541-4819-bf1a-5e54951fe6b6",
      "name": "Code_Normalize_Identifier"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e3eff77-ecc1-4f23-a2b9-ed84abdd5f56",
              "leftValue": "={{ $json.inputValid }}",
              "rightValue": "unknown",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        4112
      ],
      "id": "8e9f7f08-81dd-4dc7-b932-0b95fa482d49",
      "name": "IF_Identifier_Valid"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"รูปแบบข้อมูลไม่ถูกต้อง กรุณาส่งในรูปแบบ employee id,ชื่อ\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        4112
      ],
      "id": "80c84778-a54b-47e1-b28d-bb851893e3bc",
      "name": "HTTP_Reply_Invalid_Format",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ไม่พบ technician ที่ตรงกับ employee id และชื่อที่ส่งมา\\nกรุณาตรวจสอบแล้วส่งใหม่ในรูปแบบ employee id,ชื่อ\\n\\nตัวอย่าง:\\n009,Administrator\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        4304
      ],
      "id": "1329b701-d2e3-4500-979f-7226d049b5e4",
      "name": "HTTP_Reply_Not_Found",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"บัญชี technician นี้ถูกผูกกับ LINE อื่นแล้ว\\nกรุณาติดต่อผู้ดูแลระบบเพื่อรีเซ็ตการผูกบัญชี\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        3728
      ],
      "id": "a7f423e5-9a13-414a-9e96-7decccdbcdd4",
      "name": "HTTP_Reply_Already_Bound",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "IbL8fTxOExtKpQBR",
          "mode": "list",
          "cachedResultName": "line_technician_map",
          "cachedResultUrl": "/projects/hmeYCYcySuscpLCH/datatables/IbL8fTxOExtKpQBR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "line_user_id",
              "keyValue": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "line_user_id": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}",
            "technician_code": "={{ $('Code_Normalize_SDP_Result').item.json.technician.technician_code }}",
            "employee_id": "={{ $('Code_Normalize_SDP_Result').item.json.technician.employee_id }}",
            "technician_name": "={{ $('Code_Normalize_SDP_Result').item.json.technician.name }}",
            "technician_id": "={{ $('Code_Normalize_SDP_Result').item.json.technician.id }}",
            "email": "={{ $('Code_Normalize_SDP_Result').item.json.technician.email }}",
            "is_active": "={{ $('Code_Normalize_SDP_Result').item.json.technician.is_active }}",
            "notify_morning": "true",
            "updated_at": "={{ $now }}",
            "created_at": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "line_user_id",
              "displayName": "line_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "technician_id",
              "displayName": "technician_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "technician_code",
              "displayName": "technician_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "technician_name",
              "displayName": "technician_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notify_morning",
              "displayName": "notify_morning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notify_time",
              "displayName": "notify_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1312,
        3920
      ],
      "id": "4e93235f-7146-463c-a1a2-456dc84654d1",
      "name": "DT_Upsert_Line_Map"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "472DKupY65fiiSq7",
          "mode": "list",
          "cachedResultName": "line_session_state",
          "cachedResultUrl": "/projects/hmeYCYcySuscpLCH/datatables/472DKupY65fiiSq7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "line_user_id",
              "keyValue": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}"
            },
            {
              "keyName": "state",
              "keyValue": "REGISTER_WAIT_IDENTIFIER"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1536,
        3824
      ],
      "id": "5173802d-6ab7-4513-b5ef-30a759af94de",
      "name": "DT_Delete_Register_Session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"คุณยังไม่ได้ลงทะเบียนใช้งานระบบ\\nพิมพ์ \\\"ลงทะเบียน\\\" เพื่อเริ่มผูกบัญชีกับ ServiceDesk Plus\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        4688
      ],
      "id": "ce33b637-a91b-4977-b268-2cdb716c88a6",
      "name": "HTTP_Reply_Ask_Register",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณาระบุข้อมูลในรูปแบบ\\nemployee id,ชื่อ\\n\\nตัวอย่าง:\\n009,Administrator\\n650123,สมชาย ใจดี\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        4496
      ],
      "id": "cd83cc1c-4bc3-4b2f-afb0-bafd1bb3e6d2",
      "name": "HTTP_Reply_Ask_Identifier",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "IbL8fTxOExtKpQBR",
          "mode": "list",
          "cachedResultName": "line_technician_map",
          "cachedResultUrl": "/projects/hmeYCYcySuscpLCH/datatables/IbL8fTxOExtKpQBR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "line_user_id",
              "keyValue": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -576,
        5072
      ],
      "id": "a8465d31-be2b-4923-a968-fc17c01d51e3",
      "name": "DT_If_Map_Exists_By_LineUser",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "IbL8fTxOExtKpQBR",
          "mode": "list",
          "cachedResultName": "line_technician_map",
          "cachedResultUrl": "/projects/hmeYCYcySuscpLCH/datatables/IbL8fTxOExtKpQBR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "line_user_id",
              "keyValue": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -608,
        4288
      ],
      "id": "0a685d56-a489-43cd-9a92-9b40e5e08fb5",
      "name": "DT_If_Map_Not_Exists_By_LineUser"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "IbL8fTxOExtKpQBR",
          "mode": "list",
          "cachedResultName": "line_technician_map",
          "cachedResultUrl": "/projects/hmeYCYcySuscpLCH/datatables/IbL8fTxOExtKpQBR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "technician_id",
              "keyValue": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1088,
        3728
      ],
      "id": "1f970ab6-41b0-4691-9e40-3af33b6c7473",
      "name": "DT_If_Technician_Already_Bound"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "IbL8fTxOExtKpQBR",
          "mode": "list",
          "cachedResultName": "line_technician_map",
          "cachedResultUrl": "/projects/hmeYCYcySuscpLCH/datatables/IbL8fTxOExtKpQBR"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "technician_id",
              "keyValue": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1088,
        3920
      ],
      "id": "31b62bfb-0b8b-415d-9a61-f03b8ef4cbd1",
      "name": "DT_If_Technician_Not_Bound"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "472DKupY65fiiSq7",
          "mode": "list",
          "cachedResultName": "line_session_state",
          "cachedResultUrl": "/projects/hmeYCYcySuscpLCH/datatables/472DKupY65fiiSq7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "line_user_id",
              "keyValue": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}"
            },
            {
              "keyName": "state",
              "keyValue": "REGISTER_WAIT_IDENTIFIER"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -256,
        4112
      ],
      "id": "fe0b4ebe-1be9-4322-9107-109f077a87fc",
      "name": "DT_If_Register_Session_Exists"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "472DKupY65fiiSq7",
          "mode": "list",
          "cachedResultName": "line_session_state",
          "cachedResultUrl": "/projects/hmeYCYcySuscpLCH/datatables/472DKupY65fiiSq7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "line_user_id",
              "keyValue": "={{ $('Code_Parse_Line_Event').item.json.lineUserId }}"
            },
            {
              "keyName": "state",
              "keyValue": "=REGISTER_WAIT_IDENTIFIER"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -288,
        4688
      ],
      "id": "1133f3a5-0389-4961-b814-06c752a61b02",
      "name": "DT_If_Register_Session_Not_Exists"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$('Code_Parse_Line_Event').item.json.text === 'ลงทะเบียน'}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "102dc8e2-1b4b-4010-a2e9-d02e55cdf31f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start_Register"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        4688
      ],
      "id": "98f0d4f5-97b2-45be-9212-141c36d3b42e",
      "name": "Switch_Start_Or_Ask"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ลงทะเบียนสำเร็จแล้ว\\n\\nชื่อ: $('Code_Normalize_SDP_Result').item.json.technician.name\\nรหัสพนักงาน: $('Code_Normalize_SDP_Result').item.json.technician.employee_id\\n\\nคุณสามารถพิมพ์ \\\"งานของฉัน\\\" เพื่อเริ่มใช้งาน\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1536,
        4016
      ],
      "id": "7b8f5812-9f41-4da9-9697-e13f0bda532f",
      "name": "HTTP_Reply_Register_Success",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.matchStatus === 'matched' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "d72a8e3d-4d04-4abd-8a97-b44a2d723c9d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bf4d2297-d4d9-4eec-9a6b-5a2baa84f588",
                    "leftValue": "={{ $json.matchStatus === 'ambiguous' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        864,
        3904
      ],
      "id": "c11d2717-5db1-48e5-a7d2-3a697277ee9c",
      "name": "Switch_Match_Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"พบข้อมูล technician มากกว่าหนึ่งรายการที่ตรงกับข้อมูลที่ส่งมา กรุณาติดต่อผู้ดูแลระบบเพื่อตรวจสอบข้อมูล\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        4112
      ],
      "id": "ec38eb5e-7032-426f-bfea-c874bfa07cc2",
      "name": "HTTP_Reply_Ambiguous_Technician",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      }
    },
    {
      "parameters": {
        "content": "## Start Input Message \n",
        "height": 256,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        4496
      ],
      "typeVersion": 1,
      "id": "f651da7e-dee3-4b9b-b5db-d5ad98732e1e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## The technician has not yet registered.\n",
        "height": 352,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        4496
      ],
      "typeVersion": 1,
      "id": "91213605-b93a-415a-b062-652079f71704",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Workflow Regist\n",
        "height": 752,
        "width": 2016,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        3712
      ],
      "typeVersion": 1,
      "id": "265ce4d9-6c22-410e-9127-d7520920dbb5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -208,
        5488
      ],
      "id": "971c989c-f831-4ced-8397-8e2efa450d4f",
      "name": "DT_Get_Map_By_LineUser",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7279fdf5-ae61-4694-8526-8c63034720ef"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5aae4618-6223-4ae9-9f81-05451a9887d6",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c9cfb005-f4fc-45c3-ad57-0359aef0e2a8",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e043152d-441a-4fba-a185-59b5bbe85c7a",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a13f28bb-6289-4a5c-9c9e-c1307f168cfe",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        16,
        5440
      ],
      "id": "494b1f33-5403-4d3c-a12d-97c4a74b6413",
      "name": "Switch_Main_Command",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://win-meserv.ppbk.co.th:443/api/v3/technicians",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authtoken",
              "value": "A0DA14FD-7CCC-4D76-B133-BBAD598222EC"
            },
            {
              "name": "Accept",
              "value": "application/vnd.manageengine.sdp.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_data",
              "value": "={{\nJSON.stringify({\n  list_info: {\n    row_count: 50,\n    start_index: 1,\n    get_total_count: true,\n    search_criteria: [\n      {\n        field: 'employee_id',\n        value: $json.employeeIdInput,\n        condition: 'is'\n      }\n    ]\n  }\n})\n}}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        5008
      ],
      "id": "eb4cb975-d84b-4797-aa36-ef61a64f3875",
      "name": "HTTP_Search_My_Requests",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        5008
      ],
      "id": "93716e51-7ccd-49b7-8fb2-01b94e46ab91",
      "name": "Code_Summarize_My_Requests",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ไม่พบ technician ที่ตรงกับ employee id และชื่อที่ส่งมา\\nกรุณาตรวจสอบแล้วส่งใหม่ในรูปแบบ employee id,ชื่อ\\n\\nตัวอย่าง:\\n009,Administrator\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        5008
      ],
      "id": "ce1af752-b351-440b-8be7-cd02fd3849ae",
      "name": "HTTP_Reply_My_Requests_Summary",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://win-meserv.ppbk.co.th:443/api/v3/technicians",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authtoken",
              "value": "A0DA14FD-7CCC-4D76-B133-BBAD598222EC"
            },
            {
              "name": "Accept",
              "value": "application/vnd.manageengine.sdp.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_data",
              "value": "={{\nJSON.stringify({\n  list_info: {\n    row_count: 50,\n    start_index: 1,\n    get_total_count: true,\n    search_criteria: [\n      {\n        field: 'employee_id',\n        value: $json.employeeIdInput,\n        condition: 'is'\n      }\n    ]\n  }\n})\n}}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        5200
      ],
      "id": "2381285d-05f1-4232-b9b9-d524406f37d8",
      "name": "HTTP_Search_My_Open_Requests",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        5200
      ],
      "id": "113b07c4-cbec-4a60-9b15-6944ef697e70",
      "name": "Code_Format_Request_List",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ไม่พบ technician ที่ตรงกับ employee id และชื่อที่ส่งมา\\nกรุณาตรวจสอบแล้วส่งใหม่ในรูปแบบ employee id,ชื่อ\\n\\nตัวอย่าง:\\n009,Administrator\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        5200
      ],
      "id": "c38595b5-5daa-4d68-9b61-cdecd8041688",
      "name": "HTTP_Reply_Request_List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://win-meserv.ppbk.co.th:443/api/v3/technicians",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authtoken",
              "value": "A0DA14FD-7CCC-4D76-B133-BBAD598222EC"
            },
            {
              "name": "Accept",
              "value": "application/vnd.manageengine.sdp.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_data",
              "value": "={{\nJSON.stringify({\n  list_info: {\n    row_count: 50,\n    start_index: 1,\n    get_total_count: true,\n    search_criteria: [\n      {\n        field: 'employee_id',\n        value: $json.employeeIdInput,\n        condition: 'is'\n      }\n    ]\n  }\n})\n}}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        5392
      ],
      "id": "d7fac45a-d7b9-4d4c-b014-92113e367a1b",
      "name": "HTTP_Search_My_OnHold_Requests",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        5392
      ],
      "id": "63cac813-d401-44e0-bf5c-43d65a4dabd8",
      "name": "Code_Format_Request_List1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ไม่พบ technician ที่ตรงกับ employee id และชื่อที่ส่งมา\\nกรุณาตรวจสอบแล้วส่งใหม่ในรูปแบบ employee id,ชื่อ\\n\\nตัวอย่าง:\\n009,Administrator\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        5392
      ],
      "id": "2e7b43fa-e918-4037-9fa7-6af51e5a5161",
      "name": "HTTP_Reply_Request_List2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://win-meserv.ppbk.co.th:443/api/v3/technicians",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authtoken",
              "value": "A0DA14FD-7CCC-4D76-B133-BBAD598222EC"
            },
            {
              "name": "Accept",
              "value": "application/vnd.manageengine.sdp.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_data",
              "value": "={{\nJSON.stringify({\n  list_info: {\n    row_count: 50,\n    start_index: 1,\n    get_total_count: true,\n    search_criteria: [\n      {\n        field: 'employee_id',\n        value: $json.employeeIdInput,\n        condition: 'is'\n      }\n    ]\n  }\n})\n}}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        5584
      ],
      "id": "385a43fa-d3b4-4f5d-81a3-04f4c8b89c90",
      "name": "HTTP_Search_My_Today_Requests",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        5584
      ],
      "id": "4f035b23-1d1b-432b-9032-cea0b43558c7",
      "name": "Code_Format_Request_List2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ไม่พบ technician ที่ตรงกับ employee id และชื่อที่ส่งมา\\nกรุณาตรวจสอบแล้วส่งใหม่ในรูปแบบ employee id,ชื่อ\\n\\nตัวอย่าง:\\n009,Administrator\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        5584
      ],
      "id": "8e3851c2-ed21-4aa4-95fb-523e14ca7df7",
      "name": "HTTP_Reply_Request_List1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_Line_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ไม่พบ technician ที่ตรงกับ employee id และชื่อที่ส่งมา\\nกรุณาตรวจสอบแล้วส่งใหม่ในรูปแบบ employee id,ชื่อ\\n\\nตัวอย่าง:\\n009,Administrator\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        5776
      ],
      "id": "d4fa89e0-0d64-45ea-af97-e0f9d778a8e9",
      "name": "HTTP_Reply_Main_Menu",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YscU366hdUcuxREf",
          "name": "Line Technician"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Workflow Technician check job\n",
        "height": 1072,
        "width": 1264,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        4896
      ],
      "typeVersion": 1,
      "id": "706547a7-dc1e-4b8a-a972-99e32537ca79",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook_LINE_In1": {
      "main": [
        [
          {
            "node": "Respond_200_OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond_200_OK": {
      "main": [
        [
          {
            "node": "Code_Parse_Line_Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Parse_Line_Event": {
      "main": [
        [
          {
            "node": "IF_Supported_Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Supported_Event": {
      "main": [
        [
          {
            "node": "DT_If_Map_Exists_By_LineUser",
            "type": "main",
            "index": 0
          },
          {
            "node": "DT_If_Map_Not_Exists_By_LineUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Search_Technician_SDP": {
      "main": [
        [
          {
            "node": "Code_Normalize_SDP_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Normalize_SDP_Result": {
      "main": [
        [
          {
            "node": "Switch_Match_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Normalize_Identifier": {
      "main": [
        [
          {
            "node": "IF_Identifier_Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Identifier_Valid": {
      "main": [
        [
          {
            "node": "HTTP_Search_Technician_SDP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Reply_Invalid_Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT_Upsert_Register_Session": {
      "main": [
        [
          {
            "node": "HTTP_Reply_Ask_Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT_If_Map_Exists_By_LineUser": {
      "main": [
        [
          {
            "node": "DT_Get_Map_By_LineUser",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_Reply_Already_Registered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT_If_Map_Not_Exists_By_LineUser": {
      "main": [
        [
          {
            "node": "DT_If_Register_Session_Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "DT_If_Register_Session_Not_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT_If_Technician_Already_Bound": {
      "main": [
        [
          {
            "node": "HTTP_Reply_Already_Bound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT_If_Technician_Not_Bound": {
      "main": [
        [
          {
            "node": "DT_Upsert_Line_Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT_Upsert_Line_Map": {
      "main": [
        [
          {
            "node": "DT_Delete_Register_Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_Reply_Register_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT_Delete_Register_Session": {
      "main": [
        []
      ]
    },
    "DT_If_Register_Session_Exists": {
      "main": [
        [
          {
            "node": "Code_Normalize_Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT_If_Register_Session_Not_Exists": {
      "main": [
        [
          {
            "node": "Switch_Start_Or_Ask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Start_Or_Ask": {
      "main": [
        [
          {
            "node": "DT_Upsert_Register_Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Reply_Ask_Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Match_Status": {
      "main": [
        [
          {
            "node": "DT_If_Technician_Already_Bound",
            "type": "main",
            "index": 0
          },
          {
            "node": "DT_If_Technician_Not_Bound",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Reply_Ambiguous_Technician",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Reply_Not_Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DT_Get_Map_By_LineUser": {
      "main": [
        [
          {
            "node": "Switch_Main_Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Main_Command": {
      "main": [
        [
          {
            "node": "HTTP_Search_My_Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Search_My_Open_Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Search_My_OnHold_Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Search_My_Today_Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Reply_Main_Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Search_My_Requests": {
      "main": [
        [
          {
            "node": "Code_Summarize_My_Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Summarize_My_Requests": {
      "main": [
        [
          {
            "node": "HTTP_Reply_My_Requests_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Search_My_Open_Requests": {
      "main": [
        [
          {
            "node": "Code_Format_Request_List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Format_Request_List": {
      "main": [
        [
          {
            "node": "HTTP_Reply_Request_List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Search_My_OnHold_Requests": {
      "main": [
        [
          {
            "node": "Code_Format_Request_List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Format_Request_List1": {
      "main": [
        [
          {
            "node": "HTTP_Reply_Request_List2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Search_My_Today_Requests": {
      "main": [
        [
          {
            "node": "Code_Format_Request_List2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Format_Request_List2": {
      "main": [
        [
          {
            "node": "HTTP_Reply_Request_List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bec8e8e9-b2b4-463d-8a33-45dd444bb47e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86a0a6e1214acfa943ba7e03c4e57928b3ae7b1f547f0c65038243dbf147c480"
  },
  "id": "IEhWHSGBt6cK7GoE",
  "tags": []
}