Document of Integration Line OA - ServiceDesk Plus/JSON-n8n-workflow/SDP Service add solutions new.json
{
  "name": "SDP Service add solutions new",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed55fbf8-4560-4dd9-b330-bc4f0cebd15b",
              "leftValue": "={{ $json.isTextMessage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        432
      ],
      "id": "5d516dc6-fc36-48e7-97f3-e86900469e7a",
      "name": "IF_Is_Text_Message"
    },
    {
      "parameters": {
        "jsCode": "const event = $json.body?.events?.[0] ?? $json.events?.[0] ?? {};\n\nconst isTextMessage =\n  event.type === 'message' &&\n  event.message?.type === 'text';\n\nconst text = isTextMessage ? (event.message.text ?? '').trim() : '';\n\nreturn [\n  {\n    json: {\n      eventType: event.type ?? '',\n      messageType: event.message?.type ?? '',\n      isTextMessage,\n\n      userId: event.source?.userId ?? '',\n      replyToken: event.replyToken ?? '',\n\n      text,\n      textNormalized: text.toLowerCase(),\n\n      timestamp: event.timestamp ?? Date.now()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        576
      ],
      "id": "dccd9c03-83a4-4126-a6c1-20fd1c11386d",
      "name": "Code_Parse_LINE_Event"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e31f4057-89dc-452e-ab50-ddd9fafe861f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1392,
        576
      ],
      "id": "050433f6-fa16-4c2c-bfa4-a039d6382f47",
      "name": "Webhook_LINE_In",
      "webhookId": "e31f4057-89dc-452e-ab50-ddd9fafe861f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "09b4d10b-d8e4-4f4a-a97f-e26531ee4e38",
              "leftValue": "={{ $json.textNormalized }}",
              "rightValue": "ติดตามงาน",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        560
      ],
      "id": "b7df99a6-7168-4e3f-b923-672149227999",
      "name": "IF_Is_Command_Track"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "track_ticket"
            },
            {
              "keyName": "currentStep",
              "keyValue": "ask_ticket_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        0,
        336
      ],
      "id": "ddd1af12-1126-4caa-bfe1-3bcd77304b12",
      "name": "DataTable_If_Track_Session_Exists"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      userId: $input.first().json.userId,\n      currentMenu: 'track_ticket',\n      currentStep: 'ask_ticket_id',\n      status: 'active',\n      payloadJson: JSON.stringify({}),\n      lastUserText: $input.first().json.text,\n      updatedAt: new Date().toISOString(),\n      expireAt: new Date(Date.now() + 5 * 60 * 1000).toISOString(),\n      replyToken: $input.first().json.replyToken\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        544
      ],
      "id": "4ece4868-e976-45bd-a348-4794b00b05bb",
      "name": "Code_Prepare_Track_Session"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.userId }}",
            "currentMenu": "={{ $json.currentMenu }}",
            "currentStep": "={{ $json.currentStep }}",
            "status": "={{ $json.status }}",
            "payloadJson": "={{ $json.payloadJson }}",
            "lastUserText": "={{ $json.lastUserText }}",
            "expireAt": "={{ $json.expireAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        656,
        544
      ],
      "id": "8014ef81-5e95-46c7-9329-6df84599cc8e",
      "name": "DataTable_Upsert_Track_Session"
    },
    {
      "parameters": {
        "jsCode": "const ticketId = ($json.text || '').trim();\n\nreturn [\n  {\n    json: {\n      ...$json,\n      ticketId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        336
      ],
      "id": "d294403a-d05f-474a-b57f-6b2040e3831d",
      "name": "Code_Handle_Ticket_Input"
    },
    {
      "parameters": {
        "jsCode": "const ticketId = ($json.ticketId || '').trim();\n\n// ปรับ regex ให้ตรงกับระบบจริงของคุณ\nconst isTicketFormatOk = /^[0-9]+$/.test(ticketId);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      isTicketFormatOk\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        336
      ],
      "id": "fe103e1e-fb95-44df-b0ad-b24819818c1b",
      "name": "Code_Validate_Ticket_ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91ee5ba4-d7d4-4adb-a90c-65c6791c19da",
              "leftValue": "={{ $json.isTicketFormatOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        336
      ],
      "id": "234a7b0c-260f-44ae-a670-e63d38a6a742",
      "name": "IF_Ticket_Format_OK"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.response.sentMessages[0].id }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "track_ticket"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1584,
        128
      ],
      "id": "8dd9250e-ea22-459c-a738-0e94a46e77c2",
      "name": "DataTable_Delete_Session"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "track_ticket"
            },
            {
              "keyName": "currentStep",
              "keyValue": "ask_ticket_id"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        0,
        560
      ],
      "id": "49025e72-0e59-4d73-b536-07de9ab2d2de",
      "name": "DataTable_If_Track_Session_Not_Exists"
    },
    {
      "parameters": {
        "jsCode": "function cleanDescription(html) {\n  if (!html) return '';\n\n  return html\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\n\\s*\\n+/g, '\\n')\n    .trim();\n}\n\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      description_clean: cleanDescription($input.first().json.request.description)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        128
      ],
      "id": "aab1aca5-98fb-40d8-8071-dedfaab545de",
      "name": "Code_Clean_Description"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        16,
        1520
      ],
      "id": "b2fbb047-c047-4784-8ba8-4effa2f22438",
      "name": "DataTable_If_Report_Session_Exists"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        16,
        1760
      ],
      "id": "d8fbf91e-cd6f-4de1-aea9-e1a0ca26bd17",
      "name": "DataTable_If_Report_Session_Not_Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "211c2679-b9c5-4734-85a3-5a45e52e30ba",
              "leftValue": "={{$json.textNormalized}}",
              "rightValue": "แจ้งปัญหา",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        1760
      ],
      "id": "0b9da942-bc46-439b-9f5a-2f060d3a2284",
      "name": "IF_Is_Command_Report"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      userId: $json.userId,\n      currentMenu: 'report_issue',\n      currentStep: 'ask_reporter',\n      status: 'active',\n      payloadJson: JSON.stringify({}),\n      lastUserText: $json.text,\n      updatedAt: new Date().toISOString(),\n      expireAt: new Date(Date.now() + 10 * 60 * 1000).toISOString(),\n      replyToken: $json.replyToken\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1744
      ],
      "id": "a3aaae2f-e82f-426b-bf4c-7dac78e5b639",
      "name": "Code_Create_Report_Session"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        1520
      ],
      "id": "85b92d2e-38e2-4441-978f-5e382154f4fa",
      "name": "DataTable_Get_Report_Session"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        1408
      ],
      "id": "f884e015-bbb0-4b70-ac4c-d763f51a102f",
      "name": "Merge_Report_Input_And_Session"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentStep }}",
                    "rightValue": "=ask_reporter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8a3beb49-6df7-4846-ae64-7cb3b4001770"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "836a8cf7-5f4a-478d-9a4f-d5708a0fdcc4",
                    "leftValue": "={{$json.currentStep}}",
                    "rightValue": "ask_subject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "07626c44-0c3e-449e-9bbf-593c064b6d6d",
                    "leftValue": "={{$json.currentStep}}",
                    "rightValue": "ask_detail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cb0064ab-fe92-4c11-bb0b-5b97192f01fe",
                    "leftValue": "={{$json.currentStep}}",
                    "rightValue": "confirm_submit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        752,
        1376
      ],
      "id": "300f384a-470e-4cb7-bfd5-e9004b4e1ce3",
      "name": "Switch_Report_Current_Step"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.payloadJson || '{}');\n\npayload.reporterName = $json.text;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      payloadJson: JSON.stringify(payload),\n      currentStep: 'ask_subject',\n      lastUserText: $json.text,\n      updatedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        912
      ],
      "id": "b8a9c774-7c6c-4875-b7a0-5c359d831f3c",
      "name": "Code_Save_Reporter"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.payloadJson || '{}');\n\npayload.subject = $json.text;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      payloadJson: JSON.stringify(payload),\n      currentStep: 'ask_detail',\n      lastUserText: $json.text,\n      updatedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1088
      ],
      "id": "515a9fc8-8de5-4a6b-ab9a-ed8980c96309",
      "name": "Code_Save_Subject"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{$json.userId}}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payloadJson": "={{ $json.payloadJson }}",
            "currentStep": "={{ $json.currentStep }}",
            "lastUserText": "={{ $json.lastUserText }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1312,
        912
      ],
      "id": "d7702be8-f098-4775-94ca-05084beeda55",
      "name": "DataTable_Update_Report_Session"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.payloadJson || '{}');\n\npayload.detail = $json.text;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      payloadJson: JSON.stringify(payload),\n      currentStep: 'confirm_submit',\n      lastUserText: $json.text,\n      updatedAt: new Date().toISOString(),\n      reporterName: payload.reporterName || '',\n      subject: payload.subject || '',\n      detail: payload.detail || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1264
      ],
      "id": "90d1bf96-2cb8-4caa-8c36-c76904d18697",
      "name": "Code_Save_Detail"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.payloadJson || '{}');\nconst action = ($json.textNormalized || '').trim();\n\nreturn [\n  {\n    json: {\n      ...$json,\n      action,\n      reporterName: payload.reporterName || '',\n      subject: payload.subject || '',\n      detail: payload.detail || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1456
      ],
      "id": "d601da5b-59a6-4a7c-8a20-e0f551c04fbc",
      "name": "Code_Prepare_Confirm_Action"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "ยืนยัน",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf75e1bc-0481-4cba-ae37-69ca9b0042e2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b25e204f-294d-4195-b84c-b234effd6beb",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "ยกเลิก",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f57d8ec4-de13-4ec8-9dd8-562d0629326b",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1328,
        1440
      ],
      "id": "da3d9a22-104e-44d2-944a-dee7c6055540",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:80/api/v3/requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.manageengine.sdp.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_data",
              "value": "={\n    \"request\": {\n        \"subject\": {{ $json.subject }},\n        \"description\": {{ $json.detail }},\n        \"requester\": {\n            \"id\": \"4\",\n            \"name\": \"administrator\"\n        },\n        \"status\": {\n            \"name\": \"Open\"\n        }\n    }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        1424
      ],
      "id": "405783e9-0d1e-4818-8e39-f0ac1ef442a6",
      "name": "HTTP_Create_Issue_SDP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OixhXiwNwNq8VPct",
          "name": "Header Auth SDP"
        }
      }
    },
    {
      "parameters": {
        "url": "={{'http://host.docker.internal:80/api/v3/requests/' + $json.text}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        128
      ],
      "id": "6a768664-f81a-4bba-a7b9-767684b05e5e",
      "name": "HTTP_Get_Ticket_Status_SDP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OixhXiwNwNq8VPct",
          "name": "Header Auth SDP"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Switch').item.json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2208,
        1424
      ],
      "id": "45b83080-3bb9-4127-91d0-6985426c0b04",
      "name": "DataTable_Delete_Report_Session"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.userId }}",
            "currentMenu": "={{ $json.currentMenu }}",
            "currentStep": "={{ $json.currentStep }}",
            "status": "={{ $json.status }}",
            "payloadJson": "={{ $json.payloadJson }}",
            "lastUserText": "={{ $json.lastUserText }}",
            "expireAt": "={{ $json.expireAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        704,
        1744
      ],
      "id": "2c34ec46-00f1-487a-904a-80d481e1a393",
      "name": "DataTable_Upsert_Report_Session"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{$json.userId}}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payloadJson": "={{ $json.payloadJson }}",
            "currentStep": "={{ $json.currentStep }}",
            "lastUserText": "={{ $json.lastUserText }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1312,
        1088
      ],
      "id": "c698f375-c15d-4d2c-9280-e1fed0403254",
      "name": "DataTable_Update_Report_Session_2"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{$json.userId}}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payloadJson": "={{ $json.payloadJson }}",
            "currentStep": "={{ $json.currentStep }}",
            "lastUserText": "={{ $json.lastUserText }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1312,
        1264
      ],
      "id": "2559a598-9ac5-4312-b0fe-3c472320ec74",
      "name": "DataTable_Update_Report_Session_3"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Switch').item.json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1760,
        1616
      ],
      "id": "5883ce78-e97b-4617-bffe-5e9b7f206e28",
      "name": "DataTable_Delete_Report_Session_Cancel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d876106c-742e-4c7f-8570-33ed00194301",
              "leftValue": "={{ $json.textNormalized }}",
              "rightValue": "ยกเลิก",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -768,
        336
      ],
      "id": "e0e82d60-2f44-4113-be99-10a201b2a023",
      "name": "IF_Is_Global_Cancel"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{$json.userId}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -560,
        208
      ],
      "id": "3e83ac0c-c931-4100-b5ef-82643000c24c",
      "name": "DataTable_Delete_Any_Active_Session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณาระบุ Ticket ID:\\nหรือพิมพ์ 'ยกเลิก' เพื่อออกจากเมนูนี้\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        544
      ],
      "id": "ff1ad732-5470-4bf7-8069-961b00df5396",
      "name": "LINE_Reply_Ask_Ticket_ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('IF_Is_Text_Message').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ยกเลิกการทำรายการแล้ว\\nหากต้องการเริ่มใหม่ พิมพ์เมนูที่ต้องการอีกครั้ง\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        208
      ],
      "id": "d5b83ef6-62ce-4107-9bb9-6ce1a3d528c1",
      "name": "LINE_Reply_Cancelled",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"รูปแบบ Ticket ID ไม่ถูกต้อง กรุณาระบุใหม่อีกครั้ง\\nพิมพ์ 'ยกเลิก' เพื่อออกจากเมนูนี้\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        336
      ],
      "id": "34251b78-66db-4d76-a697-a61d9add9613",
      "name": "Line_Reply_Invalid_Ticket1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"# ผลการติดตามงาน Ticket ID: \" + $json.request.id +\n              \"\\n\\nผู้แจ้ง: \" + $json.request.requester.name +\n              \"\\nหัวข้อ: \" + $json.request.subject +\n              \"\\nรายละเอียด: \" + $json.description_clean +\n              \"\\nสถานะ: \" + $json.request.status.name +\n              \"\\nแจ้งเมื่อ: \" +  $json.request.created_time.display_value +\n              \"\\nผู้รับผิดชอบ: \" + \n              \"\\nโทร: \" + \n              \"\\nอัปเดตล่าสุด: \" + $json.request.last_updated_time\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        128
      ],
      "id": "0ceb204b-f0ae-4b2a-8980-740c863df145",
      "name": "Line_Reply_Ticket_Status1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"เรื่อง:\\n\\nพิมพ์ 'ยกเลิก' เพื่อออกจากเมนูนี้\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        912
      ],
      "id": "47f1b091-29c0-4c75-965a-5937e458e84f",
      "name": "Line_Reply_Ask_Subject",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"รายละเอียด:\\n\\nพิมพ์ 'ยกเลิก' เพื่อออกจากเมนูนี้\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        1088
      ],
      "id": "b56a1d44-5d7d-490c-87b3-cbe0091e9d4b",
      "name": "Line_Reply_Ask_Detail",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"รูปแบบ Ticket ID ไม่ถูกต้อง กรุณาระบุใหม่อีกครั้ง\\nพิมพ์ 'ยกเลิก' เพื่อออกจากเมนูนี้\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        1264
      ],
      "id": "384e4e30-cd6d-4674-804d-726ee7c62476",
      "name": "Line_Reply_Confirm_Report",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณากรอกข้อมูลแจ้งปัญหา\\nผู้แจ้ง:\\nหรือพิมพ์ 'ยกเลิก' เพื่อออกจากเมนูนี้\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        1744
      ],
      "id": "e1676127-219c-48ef-acb6-c3980b7dac93",
      "name": "Line_Reply_Ask_Reporter",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"บันทึกการแจ้งปัญหาเรียบร้อยแล้ว\" +\n              \"\\nTicket ID: \" +  $json.request.id  +\n              \"\\nเรื่อง:\" +  $json.request.subject  +\n              \"\\nรายละเอียด: \" + $json.request.description +\n              \"\\nวันที่แจ้ง: \" + $json.request.created_time.display_value\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1984,
        1424
      ],
      "id": "a3899e32-0fdf-4eaa-abfe-eb0ee7fc0c63",
      "name": "Line_Reply_Report_Created2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ยกเลิกการแจ้งปัญหาแล้ว\\nหากต้องการเริ่มใหม่พิมพ์ แจ้งปัญหา\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1984,
        1616
      ],
      "id": "b465979b-61f3-4145-9e6b-fd1e8658dfa8",
      "name": "Line_Reply_Report_Created3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณาพิมพ์เฉพาะ\\n- ยืนยัน\\n- ยกเลิก\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        1840
      ],
      "id": "1927c2ff-3489-4c33-9012-716979977cdc",
      "name": "Line_Reply_Report_Created",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('IF_Is_Text_Message').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณาเลือกเมนู\\nหรือพิมพ์ ติดตามงาน \\nพิมพ์ แจ้งปัญหา\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -768,
        528
      ],
      "id": "8c68ad45-e30a-4177-85a0-aa53faf9acd9",
      "name": "Line_Reply_Main_Menu1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "solution_help"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        48,
        2192
      ],
      "id": "e6a98c98-d4a3-44e2-ab14-b7aac04e3a48",
      "name": "DataTable_If_Solution_Session_Exists"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "solution_help"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        48,
        2656
      ],
      "id": "bb24698c-c9b6-442c-ad05-d93bae0a62c5",
      "name": "DataTable_If_Solution_Session_Not_Exists"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      solutionInput: ($json.text || '').trim()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        2176
      ],
      "id": "f531d81a-5d08-4676-bb82-9d2e82f5c50f",
      "name": "Code_Handle_Solution_Input"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.currentStep}}",
                    "rightValue": "=ask_keyword",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b6e1f79e-ca14-4943-bcd9-0916093ec281"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "76410e8f-ebeb-44de-8565-36cb3b52ad3d",
                    "leftValue": "={{$json.currentStep}}",
                    "rightValue": "select_solution",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1008,
        2176
      ],
      "id": "aa62b455-2910-4775-9954-54e80a5cae47",
      "name": "Switch_Solution_Mode"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{$json.userId}}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "solution_help"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1680,
        2160
      ],
      "id": "7e9d89e4-c7a7-48f2-bc20-c4ca4d6537fd",
      "name": "DataTable_Update_Solution_Session_To_Select",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณาพิมพ์เฉพาะ\\n- ยืนยัน\\n- ยกเลิก\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        2160
      ],
      "id": "00ee089a-de7d-4a46-966a-b1b914d5aa44",
      "name": "LINE_Reply_Solution_List",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{'http://host.docker.internal:80/api/v3/requests/' + $json.text}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1280,
        2384
      ],
      "id": "13cebfa4-aa3a-474e-a778-5280b382f34e",
      "name": "HTTP_Get_Solution_By_ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OixhXiwNwNq8VPct",
          "name": "Header Auth SDP"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        2384
      ],
      "id": "d2293077-c948-4cce-bcc3-96adb2c85853",
      "name": "Code_Clean_Solution_Description",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณาพิมพ์เฉพาะ\\n- ยืนยัน\\n- ยกเลิก\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1696,
        2384
      ],
      "id": "1972f5b1-370c-45c2-b7cc-2ee1e6d9e2d2",
      "name": "LINE_Reply_Solution_Detail",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Switch').item.json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1936,
        2384
      ],
      "id": "b4a1e405-49df-4df4-9c0d-9df1604a0624",
      "name": "DataTable_Delete_Solution_Session",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "43b4d902-1c9c-42ed-955a-8805e93f0069",
              "leftValue": "={{$json.textNormalized}}",
              "rightValue": "=วิธีแก้ปัญหาเบื้องต้น",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "96a12276-409f-4f6b-8f4d-19b48f7b2978",
              "leftValue": "={{$json.textNormalized}}",
              "rightValue": "=solution",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        2656
      ],
      "id": "b58c041e-b99c-4ea5-bbd0-8504fd9d4d8d",
      "name": "IF_Is_Command_Solution"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      userId: $json.userId,\n      currentMenu: 'solution_help',\n      currentStep: 'ask_keyword',\n      status: 'active',\n      payloadJson: JSON.stringify({}),\n      lastUserText: $json.textNormalized,\n      updatedAt: new Date().toISOString(),\n      expireAt: new Date(Date.now() + 30 * 60 * 1000).toISOString(),\n      replyToken: $json.replyToken\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        2640
      ],
      "id": "4c33b00f-c027-43a1-858b-541bd41665c7",
      "name": "Code_Create_Solution_Session"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.userId }}",
            "currentMenu": "={{ $json.currentMenu }}",
            "currentStep": "={{ $json.currentStep }}",
            "status": "={{ $json.status }}",
            "payloadJson": "={{ $json.payloadJson }}",
            "expireAt": "={{ $json.expireAt }}",
            "lastUserText": "={{ $json.lastUserText }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        752,
        2640
      ],
      "id": "2f6b4abf-8073-4a65-a73a-96dfcd22b9cb",
      "name": "DataTable_Upsert_Solution_Session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณาพิมพ์คำค้นปัญหา\\nตัวอย่าง: printer, wifi, network, outlook\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        2640
      ],
      "id": "59b53fd6-40e9-4308-b90c-8901d9fa02d6",
      "name": "LINE_Reply_Ask_Solution_Keyword",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "solution_help"
            },
            {
              "keyName": "status",
              "keyValue": "solution_help"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        256,
        2192
      ],
      "id": "fae97c35-b6a1-4c62-ba69-ed7462ca9aa2",
      "name": "DataTable_Get_Solution_Session"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        2176
      ],
      "id": "ddde615c-2988-4781-87dc-a334a7d92fed",
      "name": "Merge_Solution_Input_And_Session"
    },
    {
      "parameters": {
        "url": "={{'http://host.docker.internal:80/api/v3/requests/' + $json.text}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        2160
      ],
      "id": "091cb72a-d3f8-49d0-95d4-d059dce260e8",
      "name": "HTTP_List_Solutions_SDP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OixhXiwNwNq8VPct",
          "name": "Header Auth SDP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const keyword = ($json.solutionInput || '').toLowerCase().trim();\n\n// ปรับ path นี้ตาม output จริงของ HTTP_List_Solutions_SDP\nconst solutions = $json.solutions || $json.data || [];\n\nconst filtered = solutions.filter(s => {\n  const title = (s.title || '').toLowerCase();\n  const keywords = (s.keywords || '').toLowerCase();\n  return title.includes(keyword) || keywords.includes(keyword);\n}).slice(0, 5);\n\nconst message = filtered.length\n  ? 'พบวิธีแก้ปัญหาเบื้องต้น:\\n\\n' +\n    filtered.map((s, i) => `${i + 1}) ${s.title}\\nID: ${s.id}`).join('\\n\\n') +\n    '\\n\\nพิมพ์หมายเลขรายการ หรือ Solution ID'\n  : 'ไม่พบวิธีแก้ปัญหาที่ตรงคำค้น กรุณาลองคำอื่น';\n\nconst payload = JSON.parse($json.payloadJson || '{}');\npayload.keyword = keyword;\npayload.lastResults = filtered.map((s, i) => ({\n  index: i + 1,\n  id: s.id,\n  title: s.title\n}));\n\nreturn [\n  {\n    json: {\n      ...$json,\n      solutionListText: message,\n      payloadJson: JSON.stringify(payload),\n      currentStep: filtered.length ? 'select_solution' : 'ask_keyword',\n      updatedAt: new Date().toISOString(),\n      expireAt: new Date(Date.now() + 30 * 60 * 1000).toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        2160
      ],
      "id": "9ad56832-7e8d-48a9-855e-3afaae7b44c5",
      "name": "Code_Filter_And_Format_Solutions"
    }
  ],
  "pinData": {},
  "connections": {
    "IF_Is_Text_Message": {
      "main": [
        [
          {
            "node": "IF_Is_Global_Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line_Reply_Main_Menu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Parse_LINE_Event": {
      "main": [
        [
          {
            "node": "IF_Is_Text_Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_Report_Input_And_Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_Solution_Input_And_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_LINE_In": {
      "main": [
        [
          {
            "node": "Code_Parse_LINE_Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_If_Track_Session_Exists": {
      "main": [
        [
          {
            "node": "Code_Handle_Ticket_Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Is_Command_Track": {
      "main": [
        [
          {
            "node": "Code_Prepare_Track_Session",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code_Prepare_Track_Session": {
      "main": [
        [
          {
            "node": "DataTable_Upsert_Track_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Upsert_Track_Session": {
      "main": [
        [
          {
            "node": "LINE_Reply_Ask_Ticket_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Handle_Ticket_Input": {
      "main": [
        [
          {
            "node": "Code_Validate_Ticket_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Validate_Ticket_ID": {
      "main": [
        [
          {
            "node": "IF_Ticket_Format_OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Ticket_Format_OK": {
      "main": [
        [
          {
            "node": "HTTP_Get_Ticket_Status_SDP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line_Reply_Invalid_Ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_If_Track_Session_Not_Exists": {
      "main": [
        [
          {
            "node": "IF_Is_Command_Track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Clean_Description": {
      "main": [
        [
          {
            "node": "Line_Reply_Ticket_Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_If_Report_Session_Not_Exists": {
      "main": [
        [
          {
            "node": "IF_Is_Command_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Is_Command_Report": {
      "main": [
        [
          {
            "node": "Code_Create_Report_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Create_Report_Session": {
      "main": [
        [
          {
            "node": "DataTable_Upsert_Report_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_If_Report_Session_Exists": {
      "main": [
        [
          {
            "node": "DataTable_Get_Report_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Get_Report_Session": {
      "main": [
        [
          {
            "node": "Merge_Report_Input_And_Session",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch_Report_Current_Step": {
      "main": [
        [
          {
            "node": "Code_Save_Reporter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Save_Subject",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Save_Detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Prepare_Confirm_Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Save_Reporter": {
      "main": [
        [
          {
            "node": "DataTable_Update_Report_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Update_Report_Session": {
      "main": [
        [
          {
            "node": "Line_Reply_Ask_Subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Save_Subject": {
      "main": [
        [
          {
            "node": "DataTable_Update_Report_Session_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Save_Detail": {
      "main": [
        [
          {
            "node": "DataTable_Update_Report_Session_3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Prepare_Confirm_Action": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP_Create_Issue_SDP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DataTable_Delete_Report_Session_Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line_Reply_Report_Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Get_Ticket_Status_SDP": {
      "main": [
        [
          {
            "node": "Code_Clean_Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Create_Issue_SDP": {
      "main": [
        [
          {
            "node": "Line_Reply_Report_Created2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Upsert_Report_Session": {
      "main": [
        [
          {
            "node": "Line_Reply_Ask_Reporter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_Report_Input_And_Session": {
      "main": [
        [
          {
            "node": "Switch_Report_Current_Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Update_Report_Session_2": {
      "main": [
        [
          {
            "node": "Line_Reply_Ask_Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Update_Report_Session_3": {
      "main": [
        [
          {
            "node": "Line_Reply_Confirm_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Delete_Report_Session_Cancel": {
      "main": [
        [
          {
            "node": "Line_Reply_Report_Created3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Is_Global_Cancel": {
      "main": [
        [
          {
            "node": "DataTable_Delete_Any_Active_Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DataTable_If_Report_Session_Not_Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable_If_Report_Session_Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable_If_Track_Session_Not_Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable_If_Track_Session_Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable_If_Solution_Session_Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable_If_Solution_Session_Not_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Delete_Any_Active_Session": {
      "main": [
        [
          {
            "node": "LINE_Reply_Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line_Reply_Ticket_Status1": {
      "main": [
        [
          {
            "node": "DataTable_Delete_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line_Reply_Report_Created2": {
      "main": [
        [
          {
            "node": "DataTable_Delete_Report_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_If_Solution_Session_Exists": {
      "main": [
        [
          {
            "node": "DataTable_Get_Solution_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Handle_Solution_Input": {
      "main": [
        [
          {
            "node": "Switch_Solution_Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Solution_Mode": {
      "main": [
        [
          {
            "node": "HTTP_List_Solutions_SDP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Get_Solution_By_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Update_Solution_Session_To_Select": {
      "main": [
        [
          {
            "node": "LINE_Reply_Solution_List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Get_Solution_By_ID": {
      "main": [
        [
          {
            "node": "Code_Clean_Solution_Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Clean_Solution_Description": {
      "main": [
        [
          {
            "node": "LINE_Reply_Solution_Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE_Reply_Solution_Detail": {
      "main": [
        [
          {
            "node": "DataTable_Delete_Solution_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_If_Solution_Session_Not_Exists": {
      "main": [
        [
          {
            "node": "IF_Is_Command_Solution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Is_Command_Solution": {
      "main": [
        [
          {
            "node": "Code_Create_Solution_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Create_Solution_Session": {
      "main": [
        [
          {
            "node": "DataTable_Upsert_Solution_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Upsert_Solution_Session": {
      "main": [
        [
          {
            "node": "LINE_Reply_Ask_Solution_Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Get_Solution_Session": {
      "main": [
        [
          {
            "node": "Merge_Solution_Input_And_Session",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge_Solution_Input_And_Session": {
      "main": [
        [
          {
            "node": "Code_Handle_Solution_Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_List_Solutions_SDP": {
      "main": [
        [
          {
            "node": "Code_Filter_And_Format_Solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Filter_And_Format_Solutions": {
      "main": [
        [
          {
            "node": "DataTable_Update_Solution_Session_To_Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6346da56-c79e-497f-ba99-d8ba8afdf778",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dda6de7ca272c1ba53a314459d42bed4e69b954e6e186d2627278aacd8076796"
  },
  "id": "85csvGhjZc9GXj04",
  "tags": []
}