Document of Integration Line OA - ServiceDesk Plus/JSON-n8n-workflow/SDP Service add solutions.json
{
  "name": "SDP Service add solutions",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed55fbf8-4560-4dd9-b330-bc4f0cebd15b",
              "leftValue": "={{ $json.isTextMessage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1296,
        448
      ],
      "id": "1833788a-7d47-4e6a-9c2e-545c905039f5",
      "name": "IF_Is_Text_Message"
    },
    {
      "parameters": {
        "jsCode": "const event = $json.body?.events?.[0] ?? $json.events?.[0] ?? {};\n\nconst isTextMessage =\n  event.type === 'message' &&\n  event.message?.type === 'text';\n\nconst text = isTextMessage ? (event.message.text ?? '').trim() : '';\n\nreturn [\n  {\n    json: {\n      eventType: event.type ?? '',\n      messageType: event.message?.type ?? '',\n      isTextMessage,\n\n      userId: event.source?.userId ?? '',\n      replyToken: event.replyToken ?? '',\n\n      text,\n      textNormalized: text.toLowerCase(),\n\n      quoteToken: event.message?.quoteToken ?? '',\n\n      timestamp: event.timestamp ?? Date.now()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        448
      ],
      "id": "196a2a4f-76c3-4cf3-98fc-0dde7f8f4463",
      "name": "Code_Parse_LINE_Event"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1982a6d3-8356-4889-93ce-1b2267df1614",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1744,
        448
      ],
      "id": "b3b6ef75-504a-428c-98b9-c1a47a4de4d0",
      "name": "Webhook_LINE_In",
      "webhookId": "1982a6d3-8356-4889-93ce-1b2267df1614"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      userId: $json.userId,\n      currentMenu: 'track_ticket',\n      currentStep: 'ask_ticket_id',\n      status: 'active',\n      payloadJson: JSON.stringify({}),\n      lastUserText: $input.first().json.text,\n      updatedAt: new Date().toISOString(),\n      expireAt: new Date(Date.now() + 5 * 60 * 1000).toISOString(),\n      replyToken: $json.replyToken,\n      quoteToken: $json.quoteToken\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        224
      ],
      "id": "cea268dd-b2a4-402b-8361-cfbfa8f4920f",
      "name": "Code_Prepare_Track_Session"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.userId }}",
            "currentMenu": "={{ $json.currentMenu }}",
            "currentStep": "={{ $json.currentStep }}",
            "status": "={{ $json.status }}",
            "payloadJson": "={{ $json.payloadJson }}",
            "lastUserText": "={{ $json.lastUserText }}",
            "expireAt": "={{ $json.expireAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -176,
        224
      ],
      "id": "9392ba61-b312-45f7-b0bb-52a507a176bc",
      "name": "DataTable_Upsert_Track_Session"
    },
    {
      "parameters": {
        "jsCode": "const ticketId = ($json.text || '').trim();\nreturn [\n  {\n    json: {\n      ...$json,\n      ticketId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        832
      ],
      "id": "ab5e477d-6165-4ab2-93e8-1caf907e91f3",
      "name": "Code_Handle_Ticket_Input"
    },
    {
      "parameters": {
        "jsCode": "const ticketId = ($json.ticketId || '').trim();\n\n// ปรับ regex ให้ตรงกับระบบจริงของคุณ\nconst isTicketFormatOk = /^[0-9]+$/.test(ticketId);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      isTicketFormatOk\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        832
      ],
      "id": "7a5bbd77-a2bb-40e9-95de-6065c41a80dc",
      "name": "Code_Validate_Ticket_ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91ee5ba4-d7d4-4adb-a90c-65c6791c19da",
              "leftValue": "={{ $json.isTicketFormatOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        832
      ],
      "id": "aa42be47-6397-4656-a3d1-2911b89c9002",
      "name": "IF_Ticket_Format_OK"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('IF_Ticket_Format_OK').item.json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "track_ticket"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        720,
        736
      ],
      "id": "efe99123-e5f9-4389-80fe-df9998251fd7",
      "name": "DataTable_Delete_Session"
    },
    {
      "parameters": {
        "jsCode": "function cleanDescription(html) {\n  if (!html) return '';\n\n  return html\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\n\\s*\\n+/g, '\\n')\n    .trim();\n}\n\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      description_clean: cleanDescription($input.first().json.request.description)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        736
      ],
      "id": "bc7411df-5124-43e2-95cd-aa56dbe5953d",
      "name": "Code_Clean_Description"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -848,
        1408
      ],
      "id": "f39d170d-0674-4e5f-a080-ad6504b1879d",
      "name": "DataTable_If_Report_Session_Exists"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            },
            {
              "keyName": "currentStep",
              "keyValue": "ask_reporter"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -608,
        1248
      ],
      "id": "9c0736b7-5ed3-4671-955e-c36d08b96b36",
      "name": "DataTable_Get_Report_Session"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -208,
        1424
      ],
      "id": "3d639f8e-1a42-48d5-8679-c46a98a23ce0",
      "name": "Merge_Report_Input_And_Session",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.currentStep }}",
                    "rightValue": "=ask_reporter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8a3beb49-6df7-4846-ae64-7cb3b4001770"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "836a8cf7-5f4a-478d-9a4f-d5708a0fdcc4",
                    "leftValue": "={{$json.currentStep}}",
                    "rightValue": "ask_subject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "07626c44-0c3e-449e-9bbf-593c064b6d6d",
                    "leftValue": "={{$json.currentStep}}",
                    "rightValue": "ask_detail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cb0064ab-fe92-4c11-bb0b-5b97192f01fe",
                    "leftValue": "={{$json.currentStep}}",
                    "rightValue": "confirm_submit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        16,
        1392
      ],
      "id": "66555fd1-ecd6-462c-9871-99e76ebc6bb0",
      "name": "Switch_Report_Current_Step",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.payloadJson || '{}');\n\npayload.reporterName = $json.text;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      payloadJson: JSON.stringify(payload),\n      currentStep: 'ask_subject',\n      lastUserText: $json.text,\n      updatedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1136
      ],
      "id": "f1b1a821-0e18-41ac-88ea-6612ca78bfd1",
      "name": "Code_Save_Reporter",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $('IF_Is_Text_Message').item.json.userId }}",
        "messages": {
          "values": [
            {
              "quoteToken": "={{ $('Webhook_LINE_In').item.json.body.events[0].message.quoteToken }}",
              "text": "เรื่อง:"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        688,
        1136
      ],
      "id": "76f64cab-d810-4cb4-a34a-ef1212d45cfb",
      "name": "Line_Reply_Ask_Subject",
      "credentials": {
        "lineMessagingApi": {
          "id": "ySamoLMDrNHJJqM0",
          "name": "Line Messaging account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.payloadJson || '{}');\n\npayload.subject = $json.text;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      payloadJson: JSON.stringify(payload),\n      currentStep: 'ask_detail',\n      lastUserText: $json.text,\n      updatedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1328
      ],
      "id": "8d0ef55b-bd31-478b-8145-d95047a106b5",
      "name": "Code_Save_Subject",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{$json.userId}}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payloadJson": "={{ $json.payloadJson }}",
            "currentStep": "={{ $json.currentStep }}",
            "lastUserText": "={{ $json.lastUserText }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        464,
        1136
      ],
      "id": "547620c2-84fb-4e2f-b529-88033838d0aa",
      "name": "DataTable_Update_Report_Session",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $json.userId }}",
        "messages": {
          "values": [
            {
              "quoteToken": "={{ $('Webhook_LINE_In').item.json.body.events[0].message.quoteToken }}",
              "text": "รายละเอียด:"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        688,
        1328
      ],
      "id": "9ff064fe-416c-4faf-9fb2-9181932e217d",
      "name": "Line_Reply_Ask_Detail",
      "credentials": {
        "lineMessagingApi": {
          "id": "ySamoLMDrNHJJqM0",
          "name": "Line Messaging account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.payloadJson || '{}');\n\npayload.detail = $json.text;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      payloadJson: JSON.stringify(payload),\n      currentStep: 'confirm_submit',\n      lastUserText: $json.text,\n      updatedAt: new Date().toISOString(),\n      reporterName: payload.reporterName || '',\n      subject: payload.subject || '',\n      detail: payload.detail || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1520
      ],
      "id": "6f77e16f-7c23-4696-b4f9-1b018510e537",
      "name": "Code_Save_Detail",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $json.userId }}",
        "messages": {
          "values": [
            {
              "quoteToken": "={{ $('Webhook_LINE_In').item.json.body.events[0].message.quoteToken }}",
              "text": "=กรุณาตรวจสอบข้อมูล\n\nผู้แจ้ง: {{ $('Code_Save_Detail').item.json.reporterName }}\nเรื่อง: {{ $('Code_Save_Detail').item.json.subject }}\nรายละเอียด: {{ $('Code_Save_Detail').item.json.detail }}\n\nพิมพ์:\n- ยืนยัน\n- ยกเลิก"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        688,
        1520
      ],
      "id": "07c5a0f0-75b9-49f9-93ab-8266d3a45372",
      "name": "Line_Reply_Confirm_Report",
      "credentials": {
        "lineMessagingApi": {
          "id": "ySamoLMDrNHJJqM0",
          "name": "Line Messaging account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.payloadJson || '{}');\nconst action = ($json.textNormalized || '').trim();\n\nreturn [\n  {\n    json: {\n      ...$json,\n      action,\n      reporterName: payload.reporterName || '',\n      subject: payload.subject || '',\n      detail: payload.detail || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1920
      ],
      "id": "9577c994-51f7-4482-a043-3b7830b66c98",
      "name": "Code_Prepare_Confirm_Action",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "ยืนยัน",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf75e1bc-0481-4cba-ae37-69ca9b0042e2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b25e204f-294d-4195-b84c-b234effd6beb",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "ยกเลิก",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f57d8ec4-de13-4ec8-9dd8-562d0629326b",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        464,
        1904
      ],
      "id": "5bf4510c-8a7a-461a-b954-11117df97db8",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:80/api/v3/requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.manageengine.sdp.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_data",
              "value": "={\n    \"request\": {\n        \"subject\": {{ $json.subject }},\n        \"description\": {{ $json.detail }},\n        \"requester\": {\n            \"id\": \"4\",\n            \"name\": \"administrator\"\n        },\n        \"status\": {\n            \"name\": \"Open\"\n        }\n    }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        1712
      ],
      "id": "107f6d05-3da6-485a-9f69-72be1057e228",
      "name": "HTTP_Create_Issue_SDP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OixhXiwNwNq8VPct",
          "name": "Header Auth SDP"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{'http://host.docker.internal:80/api/v3/requests/' + $json.text}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        736
      ],
      "id": "b865ca0b-cb4d-4d55-83a5-a5a685321942",
      "name": "HTTP_Get_Ticket_Status_SDP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OixhXiwNwNq8VPct",
          "name": "Header Auth SDP"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $('IF_Is_Text_Message').item.json.userId }}",
        "messages": {
          "values": [
            {
              "quoteToken": "={{ $('Webhook_LINE_In').item.json.body.events[0].message.quoteToken }}",
              "text": "=บันทึกการแจ้งปัญหาเรียบร้อยแล้ว\nTicket ID: {{ $json.request.id }}\nเรื่อง: {{ $json.request.subject }}\nรายละเอียด: {{ $json.request.description }}\nวันที่แจ้ง: {{ $json.request.created_time.display_value }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        912,
        1712
      ],
      "id": "8301a3c8-2888-4fdf-bd3b-7944d8bc0fda",
      "name": "Line_Reply_Report_Created",
      "credentials": {
        "lineMessagingApi": {
          "id": "ySamoLMDrNHJJqM0",
          "name": "Line Messaging account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Switch').item.json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1136,
        1712
      ],
      "id": "77e9a05b-574c-4290-9d20-395ae0edc2d0",
      "name": "DataTable_Delete_Report_Session",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $('IF_Is_Text_Message').item.json.userId }}",
        "messages": {
          "values": [
            {
              "quoteToken": "={{ $('Webhook_LINE_In').item.json.body.events[0].message.quoteToken }}",
              "text": "ยกเลิกการแจ้งปัญหาแล้ว\nหากต้องการเริ่มใหม่ พิมพ์ \"แจ้งปัญหา\""
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        912,
        1904
      ],
      "id": "8f60af97-f21e-4157-b8b9-a89c9b795b3f",
      "name": "Line_Reply_Report_Cancelled",
      "credentials": {
        "lineMessagingApi": {
          "id": "ySamoLMDrNHJJqM0",
          "name": "Line Messaging account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $('IF_Is_Text_Message').item.json.userId }}",
        "messages": {
          "values": [
            {
              "quoteToken": "={{ $('Webhook_LINE_In').item.json.body.events[0].message.quoteToken }}",
              "text": "กรุณาพิมพ์เฉพาะ\n- ยืนยัน\n- ยกเลิก"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        688,
        2096
      ],
      "id": "87a52f4e-02ff-4595-97e8-a6f8541291f2",
      "name": "Line_Reply_Confirm_Again",
      "credentials": {
        "lineMessagingApi": {
          "id": "ySamoLMDrNHJJqM0",
          "name": "Line Messaging account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.userId }}",
            "currentMenu": "={{ $json.currentMenu }}",
            "currentStep": "={{ $json.currentStep }}",
            "status": "={{ $json.status }}",
            "payloadJson": "={{ $json.payloadJson }}",
            "lastUserText": "={{ $json.lastUserText }}",
            "expireAt": "={{ $json.expireAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -160,
        544
      ],
      "id": "10fe1ab9-a841-412d-8b52-aa6bde44cc03",
      "name": "DataTable_Upsert_Report_Session"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{$json.userId}}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payloadJson": "={{ $json.payloadJson }}",
            "currentStep": "={{ $json.currentStep }}",
            "lastUserText": "={{ $json.lastUserText }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        464,
        1328
      ],
      "id": "7ef63bfe-dd9a-42a4-b76b-eefde376e1a2",
      "name": "DataTable_Update_Report_Session_2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{$json.userId}}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payloadJson": "={{ $json.payloadJson }}",
            "currentStep": "={{ $json.currentStep }}",
            "lastUserText": "={{ $json.lastUserText }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentMenu",
              "displayName": "currentMenu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "payloadJson",
              "displayName": "payloadJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUserText",
              "displayName": "lastUserText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expireAt",
              "displayName": "expireAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        464,
        1520
      ],
      "id": "ecb580cd-db7f-40bf-b3ea-72a3f5ea36e6",
      "name": "DataTable_Update_Report_Session_3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Switch').item.json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        688,
        1904
      ],
      "id": "e8887c01-cb0c-4603-a10a-4c1527341697",
      "name": "DataTable_Delete_Report_Session_Cancel",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d876106c-742e-4c7f-8570-33ed00194301",
              "leftValue": "={{ $json.textNormalized }}",
              "rightValue": "ยกเลิก",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1072,
        448
      ],
      "id": "6ae9d1a2-9dc8-4736-9380-5bf539473104",
      "name": "IF_Is_Global_Cancel"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -848,
        256
      ],
      "id": "21d1729e-4932-4a22-ba7b-46cdc9011ae6",
      "name": "DataTable_Delete_Any_Active_Session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"ยกเลิกการทำรายการแล้ว\\nหากต้องการเริ่มใหม่ พิมพ์เมนูที่ต้องการอีกครั้ง\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -848,
        64
      ],
      "id": "bb0fbc29-38fc-497a-bebe-8710bf95ad7f",
      "name": "LINE_Reply_Cancelled",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.textNormalized }}",
                    "rightValue": "ติดตามงาน",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0bf55e67-df6a-46c0-83dc-7724bf24a1b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ab6fa949-fdac-44a1-b29b-ce2bfb13223e",
                    "leftValue": "={{$json.textNormalized}}",
                    "rightValue": "แจ้งปัญหา",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -624,
        448
      ],
      "id": "e2ae00ad-1f3a-426d-8b4e-e8144ad483fa",
      "name": "Switch_Start_Command"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณาระบุ Ticket ID:\\nหรือพิมพ์ 'ยกเลิก' เพื่อออกจากเมนูนี้\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        224
      ],
      "id": "afdfbb46-329c-4e84-8f6d-359fa6b8a5ee",
      "name": "LINE_Reply_Ask_Ticket_ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "track_ticket"
            },
            {
              "keyName": "currentStep",
              "keyValue": "ask_ticket_id"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -848,
        832
      ],
      "id": "924879c1-bda8-485d-9d50-5ed574a4d80c",
      "name": "DataTable_If_Track_Session_By_User_Exists"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -848,
        448
      ],
      "id": "2e50e734-853c-4a58-ba60-e1f45ba8aef8",
      "name": "DataTable_If_Track_Session_By_User_Not_Exists"
    },
    {
      "parameters": {
        "content": "## Global_Cancel\nหากผู้ใช้พิมพ์ยกเลิกเข้ามา",
        "height": 432,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -16
      ],
      "typeVersion": 1,
      "id": "9f4af910-34a2-412a-b1b3-fd53fb719265",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"กรุณากรอกข้อมูลแจ้งปัญหา\\nผู้แจ้ง:\\nหรือพิมพ์ 'ยกเลิก' เพื่อออกจากเมนูนี้\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        544
      ],
      "id": "0ea05a96-6d76-449c-9a42-078a9030a770",
      "name": "Line_Reply_Ask_Reporter",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"รูปแบบ Ticket ID ไม่ถูกต้อง กรุณาระบุใหม่อีกครั้ง\\nพิมพ์ 'ยกเลิก' เพื่อออกจากเมนูนี้\"\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        928
      ],
      "id": "c7a47a26-ad27-400a-9d7f-19ef995ffde8",
      "name": "Line_Reply_Invalid_Ticket",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    replyToken: $('Code_Parse_LINE_Event').item.json.replyToken,\n    messages: [\n      {\n        type: \"text\",\n        text: \"# ผลการติดตามงาน Ticket ID: \" + $json.request.id +\n              \"\\n\\nผู้แจ้ง: \" + $json.request.requester.name +\n              \"\\nหัวข้อ: \" + $json.request.subject +\n              \"\\nรายละเอียด: \" + $json.description_clean +\n              \"\\nสถานะ: \" + $json.request.status.name +\n              \"\\nแจ้งเมื่อ: \" +  $json.request.created_time.display_value +\n              \"\\nผู้รับผิดชอบ: \" + \n              \"\\nโทร: \" + \n              \"\\nอัปเดตล่าสุด: \" + $json.request.last_updated_time\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        736
      ],
      "id": "2912c06f-c174-4567-b996-03081b4f4d98",
      "name": "Line_Reply_Ticket_Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xes4bcANvvlYmJny",
          "name": "Header Auth Line"
        }
      }
    },
    {
      "parameters": {
        "content": "## ติดตามงาน\nผู้ใช้ส่งข้อความ \"ติดตามงาน\" บันทึก ID ผู้ใช้ลง Data table และส่งข้อความถาม Ticket ID",
        "height": 240,
        "width": 710,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        144
      ],
      "typeVersion": 1,
      "id": "a989dec8-e786-4c9f-9ca0-1dd97e1a1767",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## แจ้งปัญหา\nผู้ใช้ส่งข้อความ \"แจ้งปัญหา\" บันทึก ID ผู้ใช้ลง Data table และส่งข้อความถามข้อมูลผู้แจ้ง",
        "height": 240,
        "width": 704,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        464
      ],
      "typeVersion": 1,
      "id": "cbcc6f7c-9f15-4580-914c-f35ea47291b4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      userId: $json.userId,\n      currentMenu: 'report_issue',\n      currentStep: 'ask_reporter',\n      status: 'active',\n      payloadJson: JSON.stringify({}),\n      lastUserText: $input.first().json.text,\n      updatedAt: new Date().toISOString(),\n      expireAt: new Date(Date.now() + 10 * 60 * 1000).toISOString(),\n      replyToken: $json.replyToken,\n      quoteToken: $json.quoteToken\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        544
      ],
      "id": "8d5615d3-3e43-434c-b204-ae7f6a3cdec4",
      "name": "Code_Create_Report_Session"
    },
    {
      "parameters": {
        "content": "## ติดตามงาน\n",
        "height": 352,
        "width": 1824
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        720
      ],
      "typeVersion": 1,
      "id": "99e07f3f-a0cc-4d4b-a175-419ef01254eb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "egRZa85H3Urgk46T",
          "mode": "list",
          "cachedResultName": "line_sessions",
          "cachedResultUrl": "/projects/P3ltRca2BwbSlL7O/datatables/egRZa85H3Urgk46T"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            },
            {
              "keyName": "currentMenu",
              "keyValue": "report_issue"
            },
            {
              "keyName": "status",
              "keyValue": "active"
            },
            {
              "keyName": "currentStep",
              "keyValue": "ask_subject"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -608,
        1424
      ],
      "id": "f6390dda-acd0-4204-8d79-9b9a8964e23a",
      "name": "DataTable_Get_Subject_Session"
    }
  ],
  "pinData": {},
  "connections": {
    "IF_Is_Text_Message": {
      "main": [
        [
          {
            "node": "IF_Is_Global_Cancel",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code_Parse_LINE_Event": {
      "main": [
        [
          {
            "node": "IF_Is_Text_Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_LINE_In": {
      "main": [
        [
          {
            "node": "Code_Parse_LINE_Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Prepare_Track_Session": {
      "main": [
        [
          {
            "node": "DataTable_Upsert_Track_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Upsert_Track_Session": {
      "main": [
        [
          {
            "node": "LINE_Reply_Ask_Ticket_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Handle_Ticket_Input": {
      "main": [
        [
          {
            "node": "Code_Validate_Ticket_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Validate_Ticket_ID": {
      "main": [
        [
          {
            "node": "IF_Ticket_Format_OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Ticket_Format_OK": {
      "main": [
        [
          {
            "node": "HTTP_Get_Ticket_Status_SDP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line_Reply_Invalid_Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Clean_Description": {
      "main": [
        [
          {
            "node": "Line_Reply_Ticket_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_If_Report_Session_Exists": {
      "main": [
        [
          {
            "node": "DataTable_Get_Report_Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable_Get_Subject_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Get_Report_Session": {
      "main": [
        []
      ]
    },
    "Switch_Report_Current_Step": {
      "main": [
        [
          {
            "node": "Code_Save_Reporter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Save_Subject",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Save_Detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Prepare_Confirm_Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Save_Reporter": {
      "main": [
        [
          {
            "node": "DataTable_Update_Report_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Update_Report_Session": {
      "main": [
        [
          {
            "node": "Line_Reply_Ask_Subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Save_Subject": {
      "main": [
        [
          {
            "node": "DataTable_Update_Report_Session_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Save_Detail": {
      "main": [
        [
          {
            "node": "DataTable_Update_Report_Session_3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Prepare_Confirm_Action": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP_Create_Issue_SDP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DataTable_Delete_Report_Session_Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line_Reply_Confirm_Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Get_Ticket_Status_SDP": {
      "main": [
        [
          {
            "node": "Code_Clean_Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Create_Issue_SDP": {
      "main": [
        [
          {
            "node": "Line_Reply_Report_Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line_Reply_Report_Created": {
      "main": [
        [
          {
            "node": "DataTable_Delete_Report_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Upsert_Report_Session": {
      "main": [
        [
          {
            "node": "Line_Reply_Ask_Reporter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_Report_Input_And_Session": {
      "main": [
        [
          {
            "node": "Switch_Report_Current_Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Update_Report_Session_2": {
      "main": [
        [
          {
            "node": "Line_Reply_Ask_Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Update_Report_Session_3": {
      "main": [
        [
          {
            "node": "Line_Reply_Confirm_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Delete_Report_Session_Cancel": {
      "main": [
        [
          {
            "node": "Line_Reply_Report_Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Is_Global_Cancel": {
      "main": [
        [
          {
            "node": "DataTable_Delete_Any_Active_Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "LINE_Reply_Cancelled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DataTable_If_Track_Session_By_User_Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable_If_Track_Session_By_User_Not_Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable_If_Report_Session_Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_Delete_Any_Active_Session": {
      "main": [
        []
      ]
    },
    "Switch_Start_Command": {
      "main": [
        [
          {
            "node": "Code_Prepare_Track_Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code_Create_Report_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_If_Track_Session_By_User_Exists": {
      "main": [
        [
          {
            "node": "Code_Handle_Ticket_Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable_If_Track_Session_By_User_Not_Exists": {
      "main": [
        [
          {
            "node": "Switch_Start_Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line_Reply_Ticket_Status": {
      "main": [
        [
          {
            "node": "DataTable_Delete_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Create_Report_Session": {
      "main": [
        [
          {
            "node": "DataTable_Upsert_Report_Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "61daf2c7-f7a2-40b1-9943-11553500099e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dda6de7ca272c1ba53a314459d42bed4e69b954e6e186d2627278aacd8076796"
  },
  "id": "sUXm3P97L46Gjlrj",
  "tags": []
}